@model MediApp.Models.SurveyModel

@{
    ViewBag.Title = "Badanie";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm("Survey", "Diseases", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div>
        <ol>
            @foreach (var item in Model)
            {
                <li>
                    <p>@item.Question.Content</p>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.LabelFor(m => m._output.Answer[item.Id].Chosen, "Tak", new { @class = "col-md-2 control-label",  })
                            @Html.RadioButtonFor(m => m._output.Answer[item.Id].Chosen, new { @class = "form-control" })
                        </div>
                        <div class="col-md-10">
                            @Html.LabelFor(m => m._output.Answer[item.Id].Chosen, "Nie", new { @class = "col-md-2 control-label" })
                            @Html.RadioButtonFor(m => m._output.Answer[item.Id].Chosen, new { @class = "form-control" })
                        </div>
                     </div>
               </li>
            }
        </ol>
        <input type="submit" class="btn btn-default" value="Wyślij" />
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}