@model MediApp.Models.SurveyModel

@{
    ViewBag.Title = "Badanie";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<div>
    <ol>
        @foreach (var item in Model)
        {
            <li>
                <p>@item.Content</p>
                <label> TAK
                    <input type="radio" name="@item.Name" value="true" />
                </label>
                <label> NIE
                    <input type="radio" name="@item.Name" value="false" />
                </label>
            </li>
            <br />
        }
    </ol>
    <button>Wyślij</button>
</div>
